{% extends 'base.html.twig' %}
{% block title %}{{ 'Ask Question'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2">

             {% if question.picture != null %}
            <img src="{{ picture_directory }}/{{ question.picture }}" class="img=fluid rounded" alt="Image">
            {% endif %}
            {{ form(form) }}
                       

        </div>
    </div>
{% endblock %}
